.timeline {
    width: 800px;
    margin: 100px auto;
    border: 1px solid red;
    position: relative;
}

.timeline::after {
    content: ' ';
    background-color: dodgerblue;
    position: absolute;
    width: 40px;
    margin: -60px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.item {
    background-color: orange;
    height: auto;
    padding: 40px;
}

.item:nth-child(odd) {
    margin-left: 50%;
}

.item:nth-child(even) {
    margin-right: 50%;
}




